server:
  port: 5611

mybatis:
  mapper-locations: classpath:mapping/*.xml

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: push-you-service
  zipkin:
    base-url: http://localhost:9411
    enabled: true
  boot:
    admin:
      client:
        url: http://localhost:5613

management:
  endpoints:
    web:
      exposure:
        include: '*'

## 向服务中心注册服务
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
mail:
  account: report@yuwoyg.com
  password: sytc123456!
  host: smtp.yuwoyg.com
  from: 舆我有关
  to: 舆情客户