server:
  port: 5200

management:
  endpoints:
    web:
      exposure:
        include: "*"
spring:
  application:
    name: config-service
  cloud:
    ## git相关的配置
    config:
      server:
        git:
          uri: https://github.com/Madisoon/Digital-Service-Center.git
          label: master
          username: madisoon518@163.com
          password: 199518wa!
          search-paths: /git-config-file
## 向服务中心注册服务
eureka:
  client:
    registerWithEureka: true #是否将自己注册到Eureka服务中，默认为true
    fetchRegistry: true #是否从Eureka中获取注册信息，默认为true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/